html
  head
    title Voting | Polls
    include includes/links.pug
    link(rel="stylesheet" href="../public/styles/css/index.css")

  body
    .navbar
      .container
        a.nav-brand(href='#') Voting App
        .nav-center.search-wrapper
          input(type="text" placeholder="Search")
          span.glyphicon.glyphicon-search(aria-hidden="true" role="button")
        .nav-right
          ul.usermenu
            if !user
              li
                a(href="#" data-toggle="modal" data-target="#modal-login") Login
            else
              li
                span.glyphicon.glyphicon-plus(aria-hidden="true" role="button")
              if hasUsername
                li
                  a(href=`/user/${user.username}`) #{user.name}
              else
                li
                  a(href="#") #{user.name}
              li
                a(href="/logout") #[span.glyphicon.glyphicon-off(aria-hidden="true" role="button")]

    .container-fluid
      h1 Voting App prueba

      // h2 #{user.name}

      ul
        each poll in polls
          li #[a(href=`/poll/${poll._id}`) #{poll.name} #[span #{poll.dateCreated}]]

    include login.modal.pug
    include includes/scripts.pug
    if debug
      // insert the script for livereload if it is rendered in debug mode
      script(src="//localhost:35729/livereload.js")
